.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.cajon.color-acento-contenido 
  background-color: lighten($color-acento-contenido, 50%)

.tarjeta.tarjeta--azul
  background-color: $color-acento-contenido

.tarjeta.tarjeta--azul.acordion__activo 
  background-color: #FFE8CE

.texto-negro
  color: #000000 !important

.img-infografica-b__modal
  background-color: $color-adicional-3

.img-infografica-b__modal__contenido div > *
  color: #000000 !important

.img-infografica-b__modal__btn-cerrar i
  color: $color-acento-contenido

.cajon-b.color-primario:before
  background-color: $color-acento-botones

.lista-ul--color li > i:first-of-type
  color: $color-acento-botones
  -webkit-text-stroke: 1px black

.tarjeta--azul2 
  background-color: #FFE8CE

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #FFC403